/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none; 
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color: #005eff;
    --second-color: #0a0a0a;
}
section{
    padding: 50px 10%;
}
*::selection{
    color: #fff;
    background: var(--main-color);
}



/*HEADER*/
.logo{
    display: flex;
    align-items: center;
}
.logo h3 {
    display: flex;
    padding: 0.8rem;
    font-weight: 600;
    color: var(--second-color);
}
.img{
    width: 100%;
}
.logo img{
    width: 40px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}



/*NAVBAR*/
.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.navbar{
    display: flex;
}

li{
    float: left;
}
li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    color: var(--main-color);
    transition: all 0.5s ease;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #26623b;
    z-index: 1;
}
.dropdown-content a{
    color: #000000;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a:hover::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}



#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: flex;
}



/*HOME*/
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #d4e4ff;
    gap: 1rem;
}
.home-text{
    flex: 1 1 17rem;
}

.home-img{
    flex: 1 1 17rem;
}
.home-img img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0% {
        transform: translate(-11px, 0);
    }
    50% {
        transform: translate(-0px, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
}
.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
}
.home-text h1{
    font-size: 1.5rem;
    color: var(--main-color);
    font-weight: bolder;
}
.home-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
}

.btn{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.btn:hover{
    color: #fff;
    background: var(--second-color);
}



/*STATISTIK*/
.statistik{
    background-color: #fff;
    color: var(--main-color);
}
.statistik .wrapper{
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.statistik .wrapper .icon{
    text-align: center;
}
.statistik .wrapper .icon p{
    font-size: 3.5rem;
    margin: 0px;
    padding: 0px;
    color: var(--second-color);
}
.statistik .wrapper .icon .p i{
    font-size: 3.5rem;
}
.statistik .wrapper .icon .span{
    font-size: 2.5rem;
    color: var(--second-color);
}

/*PRODUK*/
.heading{
    text-align: center;
}
.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}
.heading h1{
    font-size: 2rem;
    color: var(--main-color);
}
.shop-container{
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    margin-top: 5rem;
}
.shop-container .box{
    flex: 1 1 10rem;
    background: var(--main-color);
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.shop-container .box .box-img{
    width: 150px;
    height: 150px;
    margin-top: -100px;
}
.shop-container .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.stars{
    margin: 1rem 0 0.1rem;
}
.shop-container .box .stars .bx {
    color: #f7f7f7;
}
.shop-container .box h2{
    color: #f7f7f7;
    font-size: 1.2rem;
}
.shop-container .box span{
    color: #f7f7f7;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.2rem 0 0.5rem;
}
.box .btn{
    border: 2px solid #f7f7f7;
    color: #f7f7f7;
}
.box .btn:hover{
    background: #f7f7f7;
    color: var(--second-color);
}



/* ===== GALERI =====*/
.gallery{
    width: 100%;
    min-height: 100vh;
    background: #d4e4ff;
    gap: 1rem;
}
.gallery h1{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    color: var(--main-color);
}
.gallery__container {
    row-gap: 2rem;
}
.gallery__img {
    padding: 10px;
    margin: 50px;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}
.gallery__img img {
    width: 400px;
    height: 250px;
    transition: 1s;
}
.gallery__img img:hover {
    transform: scale(1.1);
}



/* ===== REGISTRASI =====*/
.contact__input {
    width: 100%;
    font-size: .938rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid var(--second-color);
    outline: none;
    margin-bottom: 1rem;
    transition: border .3s;
    resize: none;
}
.contact .section-title {
    margin: 0.5rem 0 1.5rem;
}
.contact__input:focus {
    border: 2px solid var(--main-color);
}
.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto;
}
.contact__button{
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
}
.contact__button:hover{
    color: #fff;
    background: var(--main-color);
}



/*KONTAK*/
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social a{
    font-size: 27px;
    margin: 0.5rem;
}
.social a .bx{
    padding: 5px;
    color: #fff;
    background: #000000;
    border-radius: 50%;
}
.social a .bx:hover{
    background: var(--main-color);
}
.links{
    margin: 1rem 0 1rem;
}
.links a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-color);
    padding: 1rem;
}
.links a:hover{
    color: var(--main-color);
}
.contact p{
    text-align: center;
}




@media (max-width:1150px){
    header{
        padding: 18px 7%;
    }
    section{
        padding: 50px 7%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .home-text h2{
        font-size: 1.5rem;
    }
}
@media (max-width:991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
}
@media (max-width:768px){
    header{
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(14 55 54 / 14%);
        border: 2px solid var(--main-color);
        transition: 0.2s;
        text-align: left;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
        color: var(--second-color);
    }
    .home-text span{
        font-size: 0.9rem;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .home-text h2{
        font-size: 1.2rem;
    }
}
@media (max-width: 768px){
    .home-text{
        padding-top: inherit;
    }
    .shop-container .box{
        margin-top: 6rem;
    }
    .heading h1{
        font-size: 1.5rem;
    }
    .heading span{
        font-size: 0.9rem;
    }
    .about{
        flex-direction: column-reverse;
    }
}
@media (max-width: 364px){
    .links{
        display: flex;
        flex-direction: column;
    }
}



/*PROGRAM*/
.program{
    background: #d4e4ff;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}
.program-img{
    flex: 1 1 21rem;
}
.program-text{
    flex: 1 1 21rem;
}
.program-text h2{
    font-size: 1.2rem;
    color: var(--second-color);
}
.program-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}